{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Purchases List {% endblock title %}


{% block content %}
    
    <div class="row" style="color: black; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Purchases List</div>
        <div class="col-md-4">               
            <div style="float:right;"> 
                
                <!-- <a class="btn ghost-blue" href="{% url 'select-supplier' %}"></a>  -->
                <button type="button" class="btn ghost-blue" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    New Incoming Stock
                </button>
            </div>
        </div>

       
          
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="">
                  <button type="button" class="btn-close position-absolute bg-transparent border-0" style="font-size: 16px; right:12px; top: 10px; z-index: 1;" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">New Purchase</div> 
                    <br/>
                    
                    <form method="post">
                
                        {% csrf_token %}
                        
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                
                        <br/>
                        <div class="align-middle">
                            <button type="submit" class="btn ghost-green">Next</button>
                            <a href="{% url 'purchases-list' %}" class="btn ghost-button">Cancel</a>
                        </div>
                    </form>
                </div>
               
              </div>
            </div>
          </div>
    </div>

    <br>

    <table class="table table-css">

        <thead class="thead-inverse text-dark align-middle">
            <tr>
                <th class="text-nowrap">Bill No</th>
                <th>Supplier</th>
                <th class="text-nowrap">Stocks Purchased</th>
                <th>Quantity Purchased</th>
                <th>Total Purchased Price</th>
                <th>Purchased Date</th>
                <th>Options</th>
            </tr>
        </thead>

{% if bills %}

        <tbody>         
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <h3>{{ purchase.billno }}</h3> </td>
                <td class=""> 
                    {% if purchase.supplier.is_deleted %}
                        {{ purchase.supplier }}<br> 
                    {% else %}
                        <a href="{% url 'supplier' purchase.supplier.name %}">{{ purchase.supplier }}</a> <br> 
                    {% endif %}
                    <small style="color: #909494">Ph No : {{ purchase.supplier.phone }}</small> 
                </td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>     
                <td class="align-middle">{{ purchase.get_total_price }}</td>
                <td class="align-middle">{{ purchase.time.date }}</td>
                <td class="align-middle"> <a href="{% url 'purchase-bill' purchase.billno %}" class="btn ghost-pink">View Bill</a> <a href="{% url 'delete-purchase' purchase.pk %}" class="btn ghost-red">Delete Bill</a> </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>

{% endif %}

{% endblock content %}